
  main.mainCont {
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    font-family: 'HeroRegular';
  }
  

  .imageAgumon {
    @extend .sprite_1-agumon;
    background-color: black;
  }

  .imageGreymon {
    @extend .sprite_1-greymon;
    background-color: blue;
  }
